body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(./img-css/Steam-fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    border-radius: 20px;
        font-size: 25px;
        color: #1e2b27;
        background-color: rgba(71, 255, 255, 0.735);
        text-align: center;
        padding: 10px;
        margin: auto;
        margin-top: 60px;
        width: 300px;
}

h2{
    border-radius: 20px;
    font-size: 25px;
    color: #1e2b27;
    background-color: rgba(71, 255, 255, 0.735);
    text-align: center;
    padding: 10px;
    margin-left: 100px;
    width: 350px;
}

.Titulo{
    color: #ffb700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #104c57a5;
    text-align: justify;
    margin: 30px 10px 30px 10px;
    padding: 10px;
}


a{
    font-size: 35px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: #f84301ad;
    color: rgb(0, 225, 255);
    border-radius: 10px;
    text-decoration: none;
}

.contenedor{
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.626);
    padding: 40px;
    margin: 50px;
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.Lista{
    font-size: 25px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #104c57a5;
    text-align: left;
    margin: 30px 10px 30px 10px;
    padding: 10px;
}

.img{
    width: 45%px;
    max-width: 400px;
    border-radius: 10px;
    border: 3px solid red;
    flex-shrink: 0;
}

.Video{
    width: 45%px;
    max-width: 400px;
    border-radius: 10px;
    border: 3px solid rgb(246, 246, 246);
    flex-shrink: 0;
}

footer{
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #104c57a5;
    margin: 30px 10px 30px 10px;
    padding: 10px; 
}

a:hover{
    background-color: #ff9d00;
    color: #000000;
}


/* vista para dispositivos moviles */
@media (max-width: 1200px){
    body{
        background-image: url(./img-css/steam-telefono.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .Titulo{
        color: #ffb700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    }

    h1{
        border-radius: 20px;
        font-size: 25px;
        color: #5755FE;
        background-color: aquamarine;
        text-align: center;
        padding: 10px;
        margin: auto;
        margin-top: 60px;
        width: 300px;
    }
    
    h2{
        border-radius: 20px;
        font-size: 25px;
        color: #5755FE;
        background-color: aquamarine;
        text-align: center;
        padding: 10px;
        margin: auto;
        margin-top: 30px;
        width: 300px;
    }

    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        border-radius: 20px;
        color: rgb(255, 255, 255);
        background-color: #104c57a5;
        text-align: justify;
        margin: 30px 10px 30px 10px;
        padding: 10px;
    }
    
    a{
        font-size: 20px;
        margin: 10px 10px 10px 10px;
        padding: 10px;
        background-color: #f84301ad;
        color: rgb(0, 225, 255);
        border-radius: 10px;
        text-decoration: none;
    }

    .img{
        margin: auto;
        width: 300px;
        border-radius: 10px;
        border: 3px solid red;
    }

    .Video{
        margin: auto;
        margin-bottom: 24px;
        width: 300px;
        border-radius: 10px;
        border: 3px solid rgb(246, 246, 246);
    }

.contenedor{
    display: block;
    text-align: center;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.626);
    padding: 15px;
    margin: 30px 5%;
    flex-direction: column;
}

.Lista{
    font-size: 16px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #104c57a5;
    text-align: left;
    margin: 30px 10px 30px 10px;
    padding: 10px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        border-radius: 20px;
        color: rgb(255, 255, 255);
        background-color: #104c57a5;
        text-align: center;
        margin: 30px 10px 30px 10px;
        padding: 10px;
}
}
